.bgstat {
  position: static;
}
a {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.text {
  max-width: 600px;
  min-height: 200px;
  background-color: grey;
}
img {
  width:200px;
  height: 200px;
position: relative;
right: auto;
top: 10%;
left: 70%;
  border-radius: 50% 0 50% 0;
}
