.bgstat {
    position: static;
}

a:link {
    text-decoration: none;
    color:#C77222;
}

a:visited {
    text-decoration: none;
    color:#C77222;
}

a:hover {
    text-decoration: none;
    color: #A2CB92;
}

.text {
    max-width: 600px;
    min-height: 200px;
    background-color: grey;
}

img {
    width: 150px;
    height: 150px;
}

body {
    background-color: #5F644E;
    font-family: architects daughter;
    color:#C77222;
}

.topNav {
    background-color: #6B0003;
    position: fixed;

}

.main {


position: relative;
    top: 130px;
}
.seas{
  border-radius: 50%;
}
