body {
    margin: 0;
    padding: 0;
    background-color: #A2AEBB;
}

.title {
    position: fixed;
    top: 0;
    background-color: #1C3144;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    font-family: lobster;
    padding: 5px;
    box-shadow: 1px black;
    color: #D41717;
}

.mainTitle {
    font-size: 4em;
}

.nav {
    float: right;
    padding: 5px;
    padding-right: 10px;
}

.nav a {
    text-decoration: none;
    color: red;
}

.nav a:visited {
    color: #D41717;
}

.nav a:link {
    color: #D41717;
}

a.anchor {
    display: block;
    position: relative;
    top: -125px;
    /**  visibility: hidden;**/
}

.mainbox {
    position: relative;
    top: 105px;
    background-color: gray;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    min-height: 2000px;
    padding: 0;
    z-index: -1;

}

.stuffBox {
    min-height: 500px;
    width: auto;
}

.about {
    background-color: white;
    clear: both;
}

.folio {
    background-color: green;
    clear: both;

}

.contac {
    background-color: red;
    clear: both;

}

footer {
    text-align: center;
    font-family: lobster;
}
