body {
    background-color: #5F644E;
    color: #C77222;
		font-family: architects daughter;
}

.upperNav {
    position: fixed;
    background-color: #6B0003;
    width: 100%;
    padding:0px;
    margin-top:0;
    margin-left:0;
    top:0;
    left:0;

    height: 120px;


}

.upperNav ul {
    float: right;
    padding-right: 1em;

}
.upperNav h1 {
    font-size: 5em;
    margin: 0;
    float: left;
}
.upperNav div {
    display: table-cell;
    vertical-align: center;
    float:right;
   padding: 20px;
    margin: 20px;
    width:auto;
    height: auto;
    border-radius: 5% 5% 0 0;
}
.upperNav div a{
    text-decoration: none;
    color:#C77222;
}
.upperNav div a:link{
    text-decoration: none;
    color:#C77222;
}

.upperNav div:hover{
    background-color: #5F644E;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6B0003;
		position: fixed;
		top: -1px;
		left: -1px;
		width: 100%;
}


.main {
    width: 100%;
    top:0px;
    margin-top: 150px;
    margin-left: 10px;
    margin-right: 10px;


}
.abouts {

    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    width: 100%:
}
.abouts h2{
    display: table-cell;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    width: 100%:
}

.main p {
   float: left;
    width: 80%;

}
.main img {
    float: right;
  width:20%;
    max-width: 300px;
    border-radius: 50%;

}
.circle {
  width:200px;
  border-radius: 50%;
  background color:red;
z-index: 1;
  bottom:0;
}
