body {
    margin: 0;
    padding: 0;
    /*background-color: #B3DEC1;*/
    background-color: #A2AEBB;
}

.title {
    position: fixed;
    top: 0;
    background-color: #1C3144;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    font-family: lobster;
    padding: 5px;
    box-shadow: 1px black;
    color: #D41717;
    z-index: 2;
}

.mainTitle {
    font-size: 4em;
    padding-left: 10px;
}

.nav {
    float: right;
    padding: 5px;
    padding-right: 10px;
}

.nav a {
    text-decoration: none;
    color: red;
}

.nav a:visited {
    color: #D41717;
}

.nav a:link {
    color: #D41717;
}

.anchor {
    display: block;
    position: relative;
    top: -125px;
    visibility: hidden;
}

.mainbox {
    position: relative;
    overflow: auto;
    top: 105px;
    background-color: gray;
    box-shadow: 5px 5px 5px 5px black;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    min-height: 2000px;
}

.infoBox {
    overflow: auto;
    min-height: 500px;
    background-color: #FEFFFE;
}

.about {
    font-family: sans-serif;
    text-align: justify;
}

.aboutPhoto {
    display: block;
    width: 33%;
    float: right;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px;
    margin-right: 5px;
}

.folio {
    margin-top: 0;
    font-family: sans-serif;
    text-align: justify;
}

.screenShot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contac {
    margin-top: 0;
    font-family: sans-serif;
    text-align: justify;
    min-height: 500px;
    top: 105px;
    background-color: gray;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    padding: 0;
}

a {
    position: relative;
    z-index: 1;
}

.stuffBox {
    min-height: 500px;
    width: auto;
    overflow: auto;
}

.about {
    background-color: white;
    clear: both;
}

.folio {
    clear: both;
}

.subTitle {
    font-family: lobster;
    text-align: center;
    color: red;
    background-color: white;
}

footer {
    text-align: center;
    font-family: lobster;
}

.buz {}
